@import 'src/styles/vars';

.infos {
  margin: 1rem auto;
  width: 90%;

  @media only screen and (min-width: $breakMedium) {
    /* tablets */
    max-width: 700px;
  }

  .info-subTitle {
    font-size: 1.1rem;
    color: $colorOther;
    padding: 0.5rem 0 1.5rem;
  }

  .info-favori, .info-mesinfos{
    position: relative;
    margin: 2rem 0;
    border: 1px solid $colorOther;
    box-shadow: 0 0 5px  rgba(165, 165, 165, 0.5);
    border-radius: 0.2rem;
    padding: 0.5rem;

    & p, a {
      font-size: 0.9rem;
    }
  }

  .info-title {
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: 700;
    color: $colorAlt;
  }

  .info-modifier {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid $colorAlt;
    border-radius: 0.2rem;
    background-color: $colorAlt;
    padding: 0.4rem 1rem;
    font-size: 0.7rem;

    &:hover {
      border-color: $colorOther;
      background-color: $colorOther;
      color: white;
    }
  }

  .infos-detail {
    padding-bottom: 0.5rem;
  }

  .fa {
    text-align: center;
    font-size: 1.4rem;
    width: 40px;
    padding: 0rem;
  }
}