@import 'src/styles/vars';

.button-contact {
  border: none;
  color: #000;
  border-radius: 5px;
  background-color: $colorAlt;
  height: 2em;
  font-size: 0.8em;
  width: 9em;
  margin-right: 1em;

  &:hover {
    background-color: $colorOther;
    color: #fff;
  } 
}

.buttonInForm{
  border: none;
  color: #000;
  border-radius: 5px;
  background-color: $colorAlt;
  height: 2em;
  font-size: 0.8em;
  width: 7em;
  padding: 0.5em;
  text-align: center;
  // margin-right: 1em;

  &:hover {
    background-color: $colorOther;
    color: #fff;
  } 
}
.buttonInFormValid{
  border: none;
  color: #000;
  border-radius: 5px;
  background-color: $colorAlt;
  height: 2em;
  font-size: 0.8em;
  //width: 7em;
  // padding: 0.5em;
  // text-align: center;
  // margin-right: 1em;

  &:hover {
    background-color: $colorOther;
    color: #fff;
  } 
}

.contactPresta{
  width: 100%;
  margin: auto;
}

.modal--form{
  width: 50%;
  margin-left: 25%;
}

.formContactPrestaInput{
  width: 100%;

  @media only screen and (min-width: $breakMedium) {
    /* tablets */
    width: 50%;
  }
}
