@import 'src/styles/vars';

.liste-pres {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.presentation, ul, li {
  display: inline;
}

.li {
  display: list-item;
}

.presentation-title {
  font-size: 25px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}


.wrapper {
  width: 100%;
  max-width: 1200px;
  min-width: 375px;
  list-style-type: none;
}

@media screen and (min-width: $breakMini) {
  .nav-presentation {
    padding-bottom: 0;
    width: 50%;
  }
}

.presentation, li {
  text-align: center;
  padding-left: 1.5em;
};
