@import 'src/styles/vars';


.memberArea-favori {
  padding: 0 1em;
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media only screen and (min-width: $breakMini) {
    max-width: 1000px;
  }

  @media only screen and (min-width: $breakMedium) {
    max-width: 1300px;
  }

  .card {
/*     height: 250px; */
  }
  .card--image{
 /*    display: none; */
  }
}

.memberArea-subTitle {
  font-size: 1.1rem;
  color: $colorOther;
  padding: 0.5rem 0 1.5rem;
}

.memberArea-mesinfos {
  width: 90%;
  margin: 1rem auto;
  position: relative;
  border: 1px solid $colorOther;
  box-shadow: 0 0 5px  rgba(165, 165, 165, 0.5);
  border-radius: 0.2rem;
  padding: 0.5rem;

  @media only screen and (min-width: $breakMedium) {
    /* tablets */
    max-width: 1000px;
  }

  

  .memberArea-mesinfos{
    position: relative;
    margin: 2rem 0;
    border: 1px solid $colorOther;
    box-shadow: 0 0 5px  rgba(165, 165, 165, 0.5);
    border-radius: 0.2rem;
    padding: 0.5rem;

    & p, a {
      font-size: 0.9rem;
    }
  }

  .memberArea-title {
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: 700;
    color: $colorAlt;
  }

  .memberArea-modifier {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid $colorAlt;
    border-radius: 0.2rem;
    background-color: $colorAlt;
    padding: 0.4rem 1rem;
    font-size: 0.7rem;

    &:hover {
      border-color: $colorOther;
      background-color: $colorOther;
      color: white;
    }
  }

  .memberArea-detail {
    padding-bottom: 0.5rem;
  }

  .fa {
    text-align: center;
    font-size: 1.4rem;
    width: 40px;
    padding: 0rem;
  }
}