@import 'src/styles/vars';

.memberArea {
  margin: 1rem auto;
  width: 90%; 

  .memberArea-subTitle {
    font-size: 1.1rem;
    color: $colorOther;
    padding: 0.5rem 0 1.5rem;
  }

  .memberArea-favori, .memberArea-mesinfos{
    position: relative;
    margin: 2rem 0;
    border: 1px solid $colorOther;
    border-radius: 0.2rem;
    padding: 0.5rem;
  }

  .memberArea-title {
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: 700;
    color: $colorAlt;
  }

  .memberArea-modifier {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid $colorAlt;
    border-radius: 0.2rem;
    background-color: $colorAlt;
    padding: 0.4rem 1rem;
    font-size: 0.7rem;
  }
}