@import "src/styles/vars";

.cards {
  padding: 0 1em;
  @media only screen and (min-width: $breakMini) {
    /* tablets */
    display: flex;
    flex-wrap: wrap;
  }

  @media only screen and (min-width: $breackMedium) {
    /* tablets */
    width: 90%;
    margin: 0 auto;
  }

  .cardElement {
    width: 100%;
    margin-bottom: 1em;

    @media only screen and (min-width: $breakMini) {
      /* tablets */
      width: calc(50%-2em);
      margin: 1em;
    }

    @media only screen and (min-width: $breackMedium) {
      /* tablets */
      width: calc(25%-2em);
    }

    &--image {
      height: 20%;
      object-fit: cover;
    }

    &__body{
      height: 30%;

      &--title {
        font-weight: bold;
      }

      &--text {
        font-size: 0.7em;
        letter-spacing: 1px;
        text-align: justify;
        line-height: 1.5em;
      }
    }
  }
}
