@import "src/styles/vars";

.home {
  padding: 0 1em;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media only screen and (min-width: $breakMini) {
    max-width: 1000px;
  }

  @media only screen and (min-width: $breakMedium) {
    max-width: 1300px;
  }

  .pagination {
    margin-bottom: 2rem;
  }
}