@import "src/styles/vars";

.prestataire {
  padding: 1rem 2rem;
  @media only screen and (min-width: $breakMedium) {
    width: 80%;
    margin: 0 auto;
  }

  &__top {
    position: relative;
    margin-bottom: 1em;

    @media only screen and (min-width: $breakMini) {
      display: flex;
    }

    
    .heart-popup {
      position: absolute;
      width: 300px;
      top: 40px;
      left: -7px;
      font-size: 0.8rem;
      line-height: 1rem;
      background-color: rgba($color: #000000, $alpha: 0.8);
      color: white;
      padding: 0.7rem 1rem;
      border-radius: 0.5rem;
      display: none;
      z-index: 10;
      
      .heart-popupClose {
        color: white;

        &:hover {
          color: $colorAlt;
        }
      }
    }
    .visible {
      display: block;
    }

    .heart-popup::after{
      content:""; 
      border-left:10px solid transparent;
      border-right:10px solid transparent;
      border-bottom: 10px solid rgba($color: #000000, $alpha: 0.8);
      position: absolute;
      top: -10px;
      left: 10px;
    }

    .heart-link {
      text-decoration: none;

      &:hover {
        color: $colorAlt;
      }
    }

    &--title {
      width: 100%;
      font-size: 2em;
      font-weight: bold;
    }

    &--grades {
      width: 200px;
      color: $colorAlt;
      line-height: 2.5rem;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;

      @media only screen and (min-width: $breakMini) {
        justify-content: space-around;
      }
    }

    .fav {
      line-height: 2.7rem;
      margin-right: 1rem;
      cursor: pointer;
    }

    .favTrue {
      color: red;
    }
  }

  &__intro {

    @media only screen and (min-width: $breakMini) {
      display: flex;
    }

    @media only screen and (min-width: $breakMedium) {
      padding: 0;
    }

    &--carousel {
      width: 100%;
      border-radius: 1rem;
      margin: 0 auto 1rem;

      @media only screen and (min-width: $breakMini) {
        width: 50%;
        margin: 0 5rem 0.5rem 0;
      }
    }

    &__infos {
      font-size: 0.8rem;

      @media only screen and (min-width: $breakMini) {
        width: 30%;
      }

      &--title {
        font-size: 1.5em;
        font-weight: bold;
      }

      &--label {
        margin: 1em 0 0.5em;
        font-weight: bold;
        font-style: italic;
      }
    }    
  }
  &__details {
    margin-top: 1em;

    &--description {
      margin-top: 0.5em;
      text-align: justify;
      line-height: 1.2rem;
    }
  }
}

