@import "src/styles/vars";

.prestataire {
  padding: 1rem 0.8rem;
  position: relative;

  @media only screen and (min-width: $breakMini) {
    padding: 1rem 2rem;
  }

  @media only screen and (min-width: $breakMedium) {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 2rem;
  }

  .prestataire--messageSend {
    position: absolute;
    width: 200px;
    top: -20px;
    left: calc(50%-100px);
    
    padding: 1rem 0.5rem;
    background-color: #38a81cc4;
    border-radius: 3px;
    z-index: 10;

    @media only screen and (min-width: $breakMini) {
      /*       width: 700px; */
      width: 300px;
      top: 0;
      left: calc(50%-150px);
    }

    &--content {
      padding-top: 0.8rem;
      text-align: center;

      i.link.icon {
        position: absolute;
        top: 5px;
        left: 5px;
      }
    }
  }

  &__back {
    margin-bottom: 1rem;
  }

  .prestataire__back__link:hover {
    text-decoration: none;
    color: $colorMain;
  }

  &__top {
    position: relative;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (min-width: $breakMini) {
/*       width: 700px; */
      justify-content: flex-start;
    }

    &__tag {
      height: 27px;
      border-radius: 3px!important;
      background-color: $colorAlt!important;
      color: white!important;
      font-size: 0.8rem!important;
    }

    &--title {
      width: 100%;
      font-size: 2em;
      font-weight: bold;
      
      @media only screen and (min-width: $breakMini) {
        width: 80%;
      }
    }

    

    .prestataire__top__gradesandbuttons {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0.5rem 0 1.4rem 0;

      @media only screen and (min-width: $breakMini) {
        flex-wrap: nowrap;
        width: 100%;
      }
    }

    &--grades {
      width: 100%;
      color: $colorMain;
      line-height: 2rem;

      @media only screen and (min-width: $breakMini) {
        width: 20%;
      }
    }

    &__buttons {
      width: 45%;

      @media only screen and (min-width: $breakMini) {
        justify-content: space-around;
      }
    }

    
    .heart-popup {
      position: absolute;
      width: 50%;
      max-width: 400px;
      top: 40px;
      left: -7px;
      font-size: 0.8rem;
      line-height: 1rem;
      background-color: rgba($color: #000000, $alpha: 0.8);
      color: white;
      padding: 0.7rem 1rem;
      border-radius: 0.5rem;
      display: none;
      z-index: 10;

      .heart-popup__content {
        display: flex;
        flex-wrap: wrap;
      }
      
      &::after{
        content:" "; 
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-bottom: 10px solid rgba($color: #000000, $alpha: 0.8);
        position: absolute;
        top: -10px;
        left: 10px;
      }

      .heart-popupClose {
        text-align: right;
        color: white;


        &:hover {
          color: $colorAlt;
        }
      }

      .heart-link {
        display: block;
        width: 100%;
        padding-left: 0.1rem;
        margin-top: 0.4rem;
        text-decoration: none;
  
        &:hover {
          color: $colorAlt;
        }
      }
    }
    
    .visible {
      display: block;
    }

    .fav {
      width: 7%;
      text-align: left;
      line-height: 1rem;
      margin-bottom: 1rem;
      padding-top: 0.2rem;
      cursor: pointer;
    }

    .favTrue {
      color: $colorMain;
    }
  }

  &__intro {

    @media only screen and (min-width: $breakMini) {
      display: flex;
    }

    @media only screen and (min-width: $breakMedium) {
      padding: 0;
    }

    &--carousel {
      width: 100%;
      border-radius: 1rem;
      margin: 0 auto 1rem;

      @media only screen and (min-width: $breakMini) {
        width: 50%;
        margin: 0 5rem 0.5rem 0;
      }

/*       @media only screen and (min-width: $breakMedium) {
        width: 60%;
        height: auto;
        max-width: 700px;
        margin: 0 5rem 0.5rem 0;
      } */

/*       .carousel-item {
        height: 350px;
      } */
    }

    &__infos {
      font-size: 0.8rem;

      @media only screen and (min-width: $breakMini) {
        width: 30%;
      }

      &--title {
        font-size: 1.5em;
        font-weight: bold;
      }

      &--label {
        margin: 1em 0 0.5em;
        font-weight: bold;
        font-style: italic;
      }
    }    
  }
  &__details {
    margin-top: 1em;

    &--description {
      margin-top: 0.5em;
      text-align: justify;
      line-height: 1.2rem;
    }
  }
}

