@import "src/styles/vars";

.prestataire {
  padding: 1rem 2rem;
  @media only screen and (min-width: $breakMedium) {
    width: 80%;
    margin: 0 auto;
  }

  &__top {
    margin-bottom: 1em;

    @media only screen and (min-width: $breakMini) {
      display: flex;
    }

    &--title {
      width: 100%;
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    &--grades {
      width: 200px;
      color: $colorAlt;
      line-height: 2.5rem;
      margin-bottom: 0.3em;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;

      @media only screen and (min-width: $breakMini) {
        justify-content: space-around;
      }

      &--contact {
        width: 40%;
        border: none;
        border-radius: 5px;
        background-color: $colorAlt;
        height: 2em;
        font-size: 0.8em;

        &:hover {
          background-color: $colorOther;
          color: #fff;
        }       
      }

      .fa-heart-o {
        font-size: 1.5rem;
        line-height: 2rem;

        &:hover {
          color: red;
        }
      }
    }
  }

  &__intro {

    @media only screen and (min-width: $breakMini) {
      display: flex;
    }

    @media only screen and (min-width: $breakMedium) {
      padding: 0;
    }

    &--carousel {
      width: 100%;
      border-radius: 1rem;
      margin: 0 auto 1rem;

      @media only screen and (min-width: $breakMini) {
        width: 50%;
        margin: 0 5rem 0.5rem 0;
      }
    }

    &__infos {
      font-size: 0.8rem;

      @media only screen and (min-width: $breakMini) {
        width: 30%;
      }

      &--title {
        font-size: 1.5em;
        font-weight: bold;
      }

      &--label {
        margin: 1em 0 0.5em;
        font-weight: bold;
        font-style: italic;
      }
    }    
  }
  &__details {
    margin-top: 1em;

    &--description {
      margin-top: 0.5em;
      text-align: justify;
      line-height: 1.2rem;
    }
  }
}

