@import 'src/styles/vars';

.newMembers {
  margin: 2rem auto;
  padding:1rem;
  max-width: 400px;
  min-height: 74vh;

  @media screen and (min-width: $breakMini) {
    width:90%;
    max-width: 800px;
  }

  .newMembers-title {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: $colorAlt;
  }

  .newMembers-form {
    margin: 0.5rem auto 2rem;
    padding: 0 1rem 1rem;

    @media screen and (min-width: $breakMini) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .password--info{
      background-color: white!important;
      font-size: 0.6rem!important;
      padding-left: 0;
      height: 21px;
    }

    .field {
      width: 100%;

      @media screen and (min-width: $breakMini) {
        width: 45%;
      }

      label {
        font-size:0.8rem;
      }

      #errorMail, #errorPassword {
        display: none;
        font-size: 0.8rem;
        margin-top: 0;
        line-height: 1rem;
      }

      .field-input {
        width: 100%!important;
        margin-bottom: 1rem;
        display: inline-block;
        width: 100%;
        height: 2.5rem;
        border: 0;
        border-bottom: 1px solid $colorOther;
        padding: 0.5rem;
        border-radius: 0;
  
        @media screen and (min-width: $breakMini) {
          width: 45%;
        }

        &:focus {
          border-radius: 0;
        }
      }
    }

    

    .adminConnect-submit {
      display: inline-block;
      width: 100%;
      margin: 1rem auto;
      margin-bottom: 0.5rem;
      padding: 0.5rem 0;
      border-radius: 0.3rem;
      border: 0;
      background-color: $colorOther;
      font-size: 1.1rem;
      color: white;
    }

    .connectMembers-linkAccount {
      cursor: pointer;
      font-size: 0.8rem;
      margin-top: 2rem;
      text-align: center;
      text-decoration: underline;
      color: $colorOther;
    }
  }
}

.createSuccess {
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 5em;
  background-image: url(../../assets/images/concert.jpg);

  &--text {
    width: 100%;
    background-color: rgba(50,205,50, .1);
    border-radius: 15px;
    margin: 0 auto 2em;
    padding: 1em;

    @media only screen and (min-width: $breakMini) {
      /* tablets and desktop */
      width: 30%;
    }
  }

  &--button {
    background-color: $colorAlt;
    padding: 0.5em;
    width: 80%;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: $colorOther;
      color: #fff;
    }
  }
}