@import 'src/styles/vars';

.newMembers {
  margin: 2rem auto;
  padding:1rem;
  max-width: 400px;
  min-height: 74vh;

  @media screen and (min-width: $breakMini) {
    width:90%;
    max-width: 800px;
  }

  .newMembers-title {
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 700;
    color: $colorAlt;
  }

  .newMembers-form {
    margin: 0.5rem auto 2rem;
    padding: 0 1rem 3rem;

    @media screen and (min-width: $breakMini) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .field {
      width: 100%;

      @media screen and (min-width: $breakMini) {
        width: 40%;
      }
    }

    

    .adminConnect-submit {
      display: inline-block;
      width: 100%;
      margin: 1rem auto;
      margin-bottom: 0.5rem;
      padding: 0.5rem 0;
      border-radius: 0.3rem;
      border: 0;
      background-color: $colorOther;
      font-size: 1.1rem;
      color: white;
    }

    .connectMembers-linkAccount {
      cursor: pointer;
      font-size: 0.8rem;
      margin-top: 2rem;
      text-align: center;
      text-decoration: underline;
      color: $colorOther;
    }
  }
}