@import "src/styles/vars";
.footer {
  
  bottom: 0;
  background-color: $colorMain;
  margin: 2rem auto 0;
  padding: 0.5rem 0 1rem;

  @media only screen and (min-width: $breakMini) {
    /* tablets */
    display: flex;
    padding: 0 1em;
    height: 70px;
  }

  &__display {
    @media only screen and (min-width: $breakMini) {
      /* tablets */
      display: flex;
      padding: 0 1em;
       width: 100%;
      margin: 0 auto;
      max-width: 1000px;
    }

  }

  & section {

    @media only screen and (min-width: $breakMini) {
      /* tablets */
      margin: 1em;
      border-bottom: none;
      padding: 0 1em;
    }
  }
  
  &__links {
    color: white;
    @media only screen and (min-width: $breakMini) {
      /* tablets */
      width: 70%;
      text-align: left;
    }

    & li {
      // margin-top: 0.5em;
      font-size: 0.9rem;
      text-align: center;
      line-height: 1.4em;
      display: block;
      padding: 0 0.5rem;

      @media only screen and (min-width: $breakMini) {
        /* tablets */
        display: inline;
      }

      & a {
        &:hover {
          background-color: $colorMain;
          color: #fff;
        }
      }
    }
  }
  &__socials {
    color: white;
    text-align: center;

    @media only screen and (min-width: $breakMini) {
      /* tablets */
      width: 30%;
    }

    @media only screen and (min-width: $breakMedium) {
      /* tablets */
      width: 55%;
    }

    .footer__contact__part__follow {
      margin-bottom: 0.6rem;
    }
  }
}
/* RESAUX SOCIAUX */
.icon-button {
  background-color: white;
  border-radius: 2rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2rem;
}
/* Circle */
.icon-button span {
  margin-top: 15px;
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  margin: -1rem;
}

.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3b5998;
}
.linkedin span {
  background-color: #0e76a8;
}
/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2rem;
  left: 0;
  line-height: 2rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 2rem;
  z-index: 10;
}
.icon-button .fa-twitter {
  color: #4099ff;
}
.icon-button .fa-facebook {
  color: #3b5998;
}
.icon-button .fa-linkedin {
  color: #0e76a8;
}
.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-linkedin {
  color: white;
}
