@import 'src/styles/vars';

.search{
  background-image: url(../../assets/images/concert.jpg);
  background-size: cover;
  background-position: 100%;
  width: 100%;
  min-height: 200px;
  height: auto;
  margin-bottom: 3rem;
  padding: 0.8em;
  color: #fff;
  text-align: center;

  @media only screen and (min-width: $breakMini) {
    /* tablets and desktop */
    height: 340px;
  }

  @media only screen and (min-width: $breakMedium) {
    /* desktop */
    height: 360px;
  }

  &--content{
    width: 100%;
    
    @media only screen and (min-width: $breakMini) {
      /* tablets and desktop */
      width: 70%;
      max-width: 600px;
      margin: 1.5rem auto 0;
    }

    @media only screen and (min-width: $breakMedium) {
      /* desktop */
      width: 50%;
      max-width: 700px;
      margin-top: 3rem;
    }
  }

  &--subtitle{
    font-size: 2rem;
    margin-bottom: 0.2em;
    text-align: left;

    @media only screen and (min-width: $breakMini) {
      /* tablets and desktop */
      margin-bottom: 1rem;
    }

    @media only screen and (min-width: $breakMedium) {
      /* desktop */

    }
  }

  .search--form {
    margin-bottom: 0.5rem;
    
    @media only screen and (min-width: $breakMini) {
      /* tablets and desktop */
      margin-bottom: 1rem;
    }
  }

  .search__form--button {
    display: block;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: $colorOther;
    padding: 0.5rem;
    box-shadow: 3px 3px 8px rgb(42, 42, 42 , 0.52)!important;

      &:hover {
        background-color: $colorAlt;
        color: #fff;
        text-decoration: none;
      }
    }
}

// stop the default comportement of semantic with this king of field
.ui.form .fields {
  margin: 0 0 0.5rem;
  
  @media only screen and (min-width: $breakMini) {
    /* tablets and desktop */
    margin-bottom: 1rem;
  }
}

.search--form-field {
  margin: 0 0 0.5rem;
  width: 100%;
  border-radius: 3px!important;
  box-shadow: 3px 3px 8px rgba(42, 42, 42, 0.52)!important;
}

.search--form-field--dep {
  margin: 0 0 0.5rem;
  width: 100%;
  position: relative;
  box-shadow: 3px 3px 8px rgb(42, 42, 42 , 0.52)!important;
  a.label {
    position: absolute;
    top: 1px;
    right: 10px;
    /* display: inline-block; */
    width: 40px;
    z-index: 2;
    cursor: pointer;
  }
  #inputDep {
    border-radius: 3px!important;
  }
}

.visible.menu.transition {
  z-index: 11;
}

.modals.dimmer .ui.scrolling.modal {
  margin: 20px 4%;
  width: 90%;
  height: 95%;

  @media only screen and (min-width: $breakMini) {
    /* tablets and desktop */
    max-width: 1000px;
  }

  .actions {
    height: 75px;
  }
}

.ui.modal .scrolling.content {
  max-height: calc(100% - 152px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .department {
    width: 45%;

    @media only screen and (min-width: $breakMini) {
      /* tablets and desktop */
      width: 25%;
      height: 3rem;
    }
  }
}