@import 'src/styles/vars';

.search{
  background-image: url(../../assets/images/concert.jpg);
  background-size: 100%;
  background-position: 100%;
  width: 100%;
  height: 220px;
  padding: 1em;
  color: #fff;

  &--content{
    width: 100%;
    
    @media only screen and (min-width: $breakMini) {
      /* tablets and desktop */
      width: 80%;
      margin: 0 auto;
    }

    @media only screen and (min-width: $breackMedium) {
      /* desktop */
      width: 60%;
    }
  }

  &--title{
    font-size:2em;
     
  }
  &--subtitle{
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  &__form{
    text-align: center;
    width: 100%;

    &--input{
      width: 80%;
      margin-bottom: 0.5em;
      height: 2em;
      border: none;
      border-radius: 5px;
      padding: 1em;      

      @media only screen and (min-width: $breakMini) {
        /* tablets and desktop */
        width: 50%;
        margin-bottom: 1em;
        
        &:nth-child(1){
          border-radius: 5px 0 0 5px;
          border-right: 1px solid #BC8B75;
        }
        &:nth-child(2){
          border-radius: 0 5px 5px 0;
        }
      }

      @media only screen and (min-width: $breackMedium) {
        /* desktop */
        width: 40%;

        &:nth-child(1){
          border-radius: 5px 0 0 5px;
          border-right: 1px solid #BC8B75;
        }
        &:nth-child(2){
          border-radius: 0;
        }
      }
    }

    &--button{
      width: 80%;
      border: none;
      border-radius: 5px;
      background-color: $colorAlt;
      height: 2em;

      @media only screen and (min-width: $breakMini) {
        /* tablets */
        width: 100%;
      }

      @media only screen and (min-width: $breackMedium) {
        /* desktop */
        width: 20%;
        border-radius: 0 5px 5px 0;
      }

      &:hover{
        background-color: $colorOther;
        color: #fff;
      }
    }
  }
}