@import 'src/styles/vars';

.connectMembers{
  margin: 2rem auto;
  padding:1rem;

  .connectMembers-form {
    margin: 0.5rem auto 2rem;
    padding: 0 1rem 3rem;
    max-width: 400px;

    @media screen and (min-width: $breakMini) {
      width:60%;
      max-width: 400px;
    }


    .connectMembers-title {
      font-size: 0.8rem;
      font-weight: 700;
      color: $colorMain;
    }

    .adminConnect-submit {
      display: inline-block;
      width: 100%;
      margin: 0.5 auto;
      margin-bottom: 0.5rem;
      padding: 0.5rem 0;
      border-radius: 0.3rem;
      border: 0;
      background-color: $colorOther;
      font-size: 1.1rem;
      font-weight: 700;
      color: white;
    }
  
    .adminConnect-forgot {
      margin-top: 0.4rem;
      text-align: right;
      display: block;
      font-size: 0.8rem;
      text-decoration: underline;

      @media screen and (min-width: $breakMini) {
        display: block;
        margin: 0 auto;
        width:100%;
        max-width: 400px;
      }
    }

    .connectMembers-linkAccount {
      cursor: pointer;
      margin-top: 2rem;
      text-align: center;
      text-decoration: underline;
      color: $colorOther;
    }
  }

  .close {
    display: none;
  }

  .arrowClose {
    transform: rotate(-90deg);
  }


}

