@import 'src/styles/vars';

.connectMembers{
  position: relative;
  margin: 2rem auto;
  padding:1rem;
  height: 72vh;

  .prestataire--messageSend {
    position: absolute;
    width: 200px;
    top: -60px;
    left: calc(50%-100px);
    padding: 1rem 0.5rem;
    background-color: #345b78bd;
    border-radius: 3px;
    z-index: 10;
    color: white;

    @media only screen and (min-width: $breakMini) {
      /*       width: 700px; */
      width: 300px;
      top: -50px;
      left: calc(50%-150px);
    }

    &--content {
      position: relative;
      padding-top: 0.8rem;
      text-align: center;

      i.link.icon {
        position: absolute;
        top: -8px;
        left: 4px;
        color: white;
      }
    }
  }

  .connectMembers-form {
    margin: 0.5rem auto 2rem;
    padding: 0 1rem 3rem;
    max-width: 400px;

    @media screen and (min-width: $breakMini) {
      width:60%;
      max-width: 400px;
    }

    .connectMembers-title {
      text-align: center;
      margin-bottom: 2.5rem;
      font-size: 1.2rem;
      font-weight: 700;
      color: $colorAlt;
    }

    .adminConnect-submit {
      display: inline-block;
      width: 100%;
      margin: 0.5 auto;
      margin-bottom: 0.5rem;
      padding: 0.5rem 0;
      border-radius: 0.3rem;
      border: 0;
      background-color: $colorOther;
      font-size: 1.1rem;
      color: white;
    }
  
    .adminConnect-forgot {
      margin-top: 0.4rem;
      text-align: right;
      display: block;
      font-size: 0.8rem;
      text-decoration: underline;

      @media screen and (min-width: $breakMini) {
        display: block;
        margin: 0 auto;
        width:100%;
        max-width: 400px;
      }
    }

    .connectMembers-linkAccount {
      cursor: pointer;
      font-size: 0.8rem;
      margin-top: 2rem;
      text-align: center;
      text-decoration: underline;
      color: $colorOther;
    }
  }
}

