@import 'src/styles/vars';

.connectMembers{
  margin: 2rem auto;
  padding:1rem;

  .connectMembers-title {
    font-size: 0.8rem;
    font-weight: 700;
    color: $colorMain;
    cursor: pointer;
  }

  .connectMembers-signin {
    margin: 0.5rem auto 2rem;
    padding: 0 1rem 3rem;
    display: flex;
    flex-wrap: wrap;

    .adminConnect-submit {
      display: inline-block;
      width: 100%;
      margin: 0.5 auto;
      margin-bottom: 0.5rem;
      padding: 0.5rem 0;
      border-radius: 0.3rem;
      border: 0;
      background-color: $colorOther;
      font-size: 1.1rem;
      font-weight: 700;
      color: white;

      @media screen and (min-width: $breakMini) {
        margin: 0 auto;
        width:60%;
        max-width: 400px;
      }
    }
  
    .adminConnect-forgot {
      margin-top: 0.4rem;
      text-align: right;
      display: block;
      font-size: 0.8rem;
      text-decoration: underline;

      @media screen and (min-width: $breakMini) {
        display: block;
        margin: 0 auto;
        width:100%;
        max-width: 400px;
      }
    }
  }

  .close {
    display: none;
  }

  .arrowClose {
    transform: rotate(-90deg);
  }


}

